html,
body {
  width: 100%;
  height: 100%;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.groundCell {
  height: 100px;
  width: 100px;
  border: 1px solid white;
  background: #0f0f0f;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}
.table-data-before-start {
  visibility: visible;
  display: flex;

  justify-content: space-around;
  align-items: center;

  flex-direction: column;
  background: #0f0f0f;
  border-radius: 10px;
  width: 40%;
  height: 60%;
}

.table-data-after-start {
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.text-input {
  width: 90%;
  height: 10%;
  border-radius: 5px;
  border: none;
  background: none;
  color: white;
  border-bottom: 1px solid white;
  font-size: 14px;
  text-align: center;
}

.mines-heading {
  color: white;
  font-family: sans-serif;
}

.text-input:focus {
  outline: none;
  border-bottom: 1px solid #39a0ed;
}

.start-btn {
  width: 90%;
  height: 10%;

  border-radius: 7px;
  border: none;
  color: white;
  font-size: 16px;

  background: #39a0ed;
}

.mines-data {
  margin-left: 100px;
  color: #6153cc;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: sans-serif;
  font-size: 24px;

  width: 20%;
  height: 80%;

  border-left: 2px solid black;
}

.overlay {
  visibility: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(37, 37, 37, 0.918);
  animation: animatezoom 0.6s;
}

.popup-message-box {
  border-radius: 7px;
  background: #0f0f0f;

  height: 60%;
  width: 40%;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
}

.pop-up-message {
  color: white;
  font-family: sans-serif;
  font-size: 24px;
}

.exit-to-start-btn {
  width: 80%;
  height: 10%;
  color: white;
  background: #39a0ed;
  border-radius: 7px;
  border: none;
}
